<h1 class="text-center"><%= PRODUCT_NAME %></h1>

<p>This document is what is called a <em>Change Log</em> -- it is a round up of the important changes as represented by new features and bug fixes.  It isn't exhaustive as it is created by a human and humans can and do miss things but it should be indicative of what has changed and when.</p>
<p class="text-end">-- Dev</p>

<h2>2025-08-20</h2>

<ul>
  <li>Added ability to sign up for an account and have a username
  <li>Added author and news source name to internal structure for news feed items; News Source Name is visible

<h2>2025-08-20</h2>

<ul>
  <li>Moved to 50 items per news feed page to better highlight the ongoing scope of what's happening in America
  <li>Added date on the display of news items at bottom right
  <li>Added a change log, this file! 
</ul>