<div id="<%= dom_id news_feed_url %>">
  <p>
    <strong>Name:</strong>
    <%= news_feed_url.name %>
  </p>

  <p>
    <strong>Rss url:</strong>
    <%= news_feed_url.rss_url %>
  </p>

  <p>
    <strong>Last checked at:</strong>
    <%= news_feed_url.last_checked_at %>
  </p>

</div>
