<ul class="nav nav-tabs" id="eventsTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab" aria-controls="list" aria-selected="true">
      <i class="bi bi-list"></i> Events List
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="calendar-tab" data-bs-toggle="tab" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="false">
      <i class="bi bi-calendar3"></i> Events Calendar
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="calendar-tab" data-bs-toggle="tab" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="false">
      <i class="bi bi-calendar-plus"></i> Suggest an Event
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="calendar-tab" data-bs-toggle="tab" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="false">
      <i class="bi bi-search"></i> Search for an Event
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="news-tab" data-bs-toggle="tab" data-bs-target="#news" type="button" role="tab" aria-controls="news" aria-selected="false">
      <i class="bi bi-newspaper"></i> News Feed
    </button>
  </li>
</ul>
