<h1>Add Your Event By Pasting in a Description</h1>

<p>If you have an event description you were going to post on Social Media, try just pasting it here and our hand crafted smart parser might just figure it out:
<%=add_spacer%>
<%= render 'suggest_paste_text', event: @event%>