<h1>Add Your Event By Submitting a Mobilize Url</h1>

<p>Already have your event on Mobilize?  Just submit your mobilize url and we will instantly add it to <%=BASE_PRODUCT_NAME%>.
<%=add_spacer%>
<%= render 'suggest_mobilize_url', event: @event%>