<h1>Add Your Event By Uploading Your Flier</h1>

<p>If you have a flier for your event with the relevant details, we have an OCR engine which can read your flier and add it to the database.</p>
<%=add_spacer%>
<%= render 'suggest_upload_flier', event: @event%>