<% content_for :title, "Editing secure chat system" %>

<h1>Editing secure chat system</h1>

<%= render "form", secure_chat_system: @secure_chat_system %>

<br>

<div>
  <%= link_to "Show this secure chat system", @secure_chat_system %> |
  <%= link_to "Back to secure chat systems", secure_chat_systems_path %>
</div>
