<% content_for :title, "New secure chat system" %>

<h1>New secure chat system</h1>

<%= render "form", secure_chat_system: @secure_chat_system %>

<br>

<div>
  <%= link_to "Back to secure chat systems", secure_chat_systems_path %>
</div>
