<div id="<%= dom_id government_official_type %>">
  <p>
    <strong>Name:</strong>
    <%= government_official_type.name %>
  </p>

  <p>
    <strong>Fid:</strong>
    <%= government_official_type.fid %>
  </p>

</div>
