<p style="color: green"><%= notice %></p>

<% content_for :title, "Government official types" %>

<h1>Government official types</h1>

<div id="government_official_types">
  <% @government_official_types.each do |government_official_type| %>
    <%= render government_official_type %>
    <p>
      <%= link_to "Show this government official type", government_official_type %>
    </p>
  <% end %>
</div>

<%= link_to "New government official type", new_government_official_type_path %>
