<% content_for :title, "New government official type" %>

<h1>New government official type</h1>

<%= render "form", government_official_type: @government_official_type %>

<br>

<div>
  <%= link_to "Back to government official types", government_official_types_path %>
</div>
