<div id="<%= dom_id congressional_district_type %>">
  <p>
    <strong>Name:</strong>
    <%= congressional_district_type.name %>
  </p>

  <p>
    <strong>Fid:</strong>
    <%= congressional_district_type.fid %>
  </p>

</div>
