<% content_for :title, "Editing congressional district type" %>

<h1>Editing congressional district type</h1>

<%= render "form", congressional_district_type: @congressional_district_type %>

<br>

<div>
  <%= link_to "Show this congressional district type", @congressional_district_type %> |
  <%= link_to "Back to congressional district types", congressional_district_types_path %>
</div>
