<% content_for :title, "New congressional district type" %>

<h1>New congressional district type</h1>

<%= render "form", congressional_district_type: @congressional_district_type %>

<br>

<div>
  <%= link_to "Back to congressional district types", congressional_district_types_path %>
</div>
