<div id="<%= dom_id event_type %>">
  <p>
    <strong>Name:</strong>
    <%= event_type.name %>
  </p>

  <p>
    <strong>Fid:</strong>
    <%= event_type.fid %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= event_type.organization_id %>
  </p>

</div>
