<% content_for :title, "New google sheet url" %>

<h1>New google sheet url</h1>

<%= render "form", google_sheet_url: @google_sheet_url %>

<br>

<div>
  <%= link_to "Back to google sheet urls", google_sheet_urls_path %>
</div>
