<% content_for :title, "New feature category" %>

<h1>New feature category</h1>

<%= render "form", feature_category: @feature_category %>

<br>

<div>
  <%= link_to "Back to feature categories", feature_categories_path %>
</div>
