.wrap-header-form.not-signed-in form input { min-width: 230px }

@media (max-width: 991px) {
  .user-avatar {
    width: 250px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .user-avatar {
    width: 200px;
  }
}

@media (min-width: 1201px) {
  .user-avatar {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .wrap-header-form.signed-in form { width: 80% }
  .nav {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .wrap-header-form.not-signed-in { width: 100% !important }
}
/*
@media (max-width: 350px) {
  .wrap-header-form.not-signed-in { width: 100% !important }
}
*/
@media (max-width: 250px) {
  .container { padding: 0 !important }
  .wrap-header-form.not-signed-in form input { min-width: auto !important }
}
