<% content_for :title, "Editing congressional district" %>

<h1>Editing congressional district</h1>

<%= render "form", congressional_district: @congressional_district %>

<br>

<div>
  <%= link_to "Show this congressional district", @congressional_district %> |
  <%= link_to "Back to congressional districts", congressional_districts_path %>
</div>
