<div>
  <button class="btn btn-outline-primary">
    <i class="bi bi-card-list"></i> List View
  </button>

  <button class="btn btn-outline-primary">
    <i class="bi bi-calendar-event"></i> Calendar View
  </button>
</div>