<p>&nbsp;</p>
<div class="text-center">
  <a href="/about">About / Team</a>
  &nbsp;&nbsp;
  <a href="/all">All Features</a>
  &nbsp;&nbsp;
  <a href="/contact">Contact</a>
  &nbsp;&nbsp;
  <a href="/faqs">FAQs</a>
  &nbsp;&nbsp;
  <a href="/features">Features</a>
  &nbsp;&nbsp;
  <a href="https://form.jotform.com/251932994569071">Take the Survey</a>
  <br/>&nbsp;
  <br/>
  <%= link_to "ðŸž Report a Bug / Request a Change", report_bug_url(request.original_url), class: "bug-report-link", target: "_blank" %>
</div>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;</p>